.logo {
  width: 20vw;
}

.text {
  font-size: 5vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.button {
  width: 20vw;
  height: 10vh;
  border: none;
  font-size: 1.75vw;
  cursor: pointer;
}
